Flask==3.0.0  # Flask for backend
gunicorn==21.2.0  # Production server
requests==2.31.0  # Making HTTP requests
pandas==2.1.4  # Handling Excel and data processing
openpyxl==3.1.2  # Working with Excel files
google-auth==2.27.0  # Google Authentication
google-auth-oauthlib==1.2.0  # Google OAuth
google-auth-httplib2==0.2.0
google-api-python-client==2.128.0  # Google Sheets API
opencv-python-headless
gspread
oauth2client
numpy
